# Binaries
afra
*.o

# Intermediate files
*.out
*.tree

# autotools
aclocal.m4
autom4te.cache/*
compile
config.log
config.status
configure
depcomp
install-sh
Makefile
missing
*.in
**/.deps/*
.dirstamp

